/* the rgb syntax will be rgb( red, green, blue ) (0-255, 0-255, 0-255) which is a standard CSS color format 
    the hex syntax will be #RRGGBB (00-FF, 00-FF, 00-FF) which is another standard CSS color format

    some commonly used css stuff will be text-align, font-weight, text-decoration, line-height, letter-spacing, etc.
    i select all classes with a ., and all id's with a #
    if i wanna select multiple elements i can separate them with a comma
    to select child elements i can use a space between the parent and child selectors
    to select direct child elements i can use a > between the parent and child selectors
    to select elements with a specific attribute i can use [attribute=value]
    pseudo-classes can be selected with a : before the pseudo-class name, like :hover or :first-child 
    the important rule can be used to override other styles by adding !important after the value
    justify content is along the main axis, align items is along the cross axis
    align-content is for multi-line flex containers and controls the spacing between lines
*/



#box1 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 4px solid green;
    margin: 6px;
}

#box2 {
    width: 200px;
    height: 200px;
    background-color: red;
    border: 4px solid blue;
    margin: 6px;
}

.container {
    background-color: purple;
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}